<div class="container py-5">
	<div class="row">
		<div class="col-sm-6 col-lg-3">
			<h6>Quick links</h6>
			<ul class="list-unstyled">
			    <li><a href="index.html">Home</a></li>
			    <li><a href="shop.html">Shop</a></li>
			    <li><a href="about.html">About</a></li>
			    <li><a href="contact.html">Contact</a></li>
			    <li><a href="wishlist.html">Wishlist</a></li>
			    <li><a href="cart.html">Cart</a></li>
			</ul>
		</div>
		<div class="col-sm-6 col-lg-3">
			<h6>Information</h6>
			<ul class="list-unstyled">
			    <li><a href="faq.html">Frequently Asked Questions</a></li>
			    <li><a href="shipping.html">Shipping</a></li>
			    <li><a href="returns.html">Returns</a></li>
			    <li><a href="terms-of-service.html">Terms of Service</a></li>
			    <li><a href="privacy-policy.html">Privacy Policy</a></li>
			</ul>
		</div>
		<div class="col-sm-6 col-lg-3">
			<h6>Follow us</h6>
			<ul class="list-unstyled">
			    <li><i class="bi-facebook text-primary"></i> <a href="#">Facebook</a></li>
			    <li><i class="bi-instagram text-primary"></i> <a href="#">Instagram</a></li>
			    <li><i class="bi-twitter text-primary"></i> <a href="#">Twitter</a></li>
			    <li><i class="bi-youtube text-primary"></i> <a href="#">YouTube</a></li>
			    <li><i class="bi-linkedin text-primary"></i> <a href="#">LinkedIn</a></li>
			</ul>
		</div>
		<div class="col-sm-6 col-lg-3">
			<h6>Contact</h6>
			<address>
			    <strong>Brand Name</strong><br>
			    Steet Name 123<br>
			    ZIP code and city<br>
			    <i class="bi-telephone text-primary"></i> <a href="tel:+1234567890">(123) 456-7890</a><br>
			    <i class="bi-envelope text-primary"></i> <a href="mailto:info@domain.com">info@brandname.com</a>
			</address>
		</div>
	</div>
	<div class="text-center">&copy; 2022 - Solid.Ecommerce.Web - <a asp-area="" asp-page="/Privacy">Privacy</a>. All rights reserved.</div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" id="form-modal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
		    <div class="modal-header">
		        <h5 class="modal-title"></h5>
		        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
		            <span aria-hidden="true">×</span>
		        </button>
		    </div>
		    <div class="modal-body">

		    </div>
		</div>
	</div>
</div>

