	@page
	@model IndexModel
	@{
	    ViewData["Title"] = "ECommerce Web App - Bikes";
	}
	
	<section class="bg-light pb-5 pt-3 pt-lg-5 mb-5">
	    <div class="container">
	        <div class="row align-items-center">
	            <div class="col-lg-6 mb-3 mb-lg-0">
	                <img src="~/images/products/2.webp" class="img-fluid">
	            </div>
	            <div class="col-lg-6">
	                <h1 class="display-1">Xe đạp địa hình tốt nhất</h1>
	                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis convallis velit quis sapien sollicitudin ultrices. Ut metus tortor, aliquet non rutrum ac, dapibus vehicula augue.</p>
	                <a href="shop.html" class="btn btn-lg btn-primary me-2">Shop</a>
	                <a href="about.html" class="btn btn-lg btn-outline-primary">About</a>
	            </div>
	        </div>
	    </div>
	</section>
	<div class="container">
	
	    <section class="mb-5">
	        <h2 class="text-center mb-4">Collections</h2>
	        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis convallis velit quis sapien sollicitudin ultrices. Ut metus tortor, aliquet non rutrum ac, dapibus vehicula augue. Etiam congue erat sem, vitae gravida nunc pretium vitae. Fusce sed ex tellus. Quisque auctor viverra feugiat. Nulla urna odio, porta ut tristique ut, consequat non dolor. Etiam varius maximus dolor, at consectetur lectus. Mauris rutrum aliquet tellus, sed convallis diam.</p>
	        <div id="carousel" class="carousel slide" data-bs-ride="carousel">
	            <div class="carousel-indicators">
	                <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" aria-label="Slide 1" class="active"></button>
	                <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
	                <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
	                <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
	            </div>
	            <div class="carousel-inner" role="listbox">
	                <div class="carousel-item active">
	                    <a href="#">
	                        <img src="~/images/products/1600x900.png" alt="Collection #1" class="d-block img-fluid">
	                        <div class="carousel-caption">
	                            <h3>Collection #1</h3>
	                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
	                        </div>
	                    </a>
	                </div>
	                <div class="carousel-item">
	                    <a href="#">
	                        <img src="~/images/products/1600x900.png" alt="Collection #2" class="d-block img-fluid">
	                        <div class="carousel-caption">
	                            <h3>Collection #2</h3>
	                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
	                        </div>
	                    </a>
	                </div>
	                <div class="carousel-item">
	                    <a href="#">
	                        <img src="~/images/products/1600x900.png" alt="Collection #3" class="d-block img-fluid">
	                        <div class="carousel-caption">
	                            <h3>Collection #3</h3>
	                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
	                        </div>
	                    </a>
	                </div>
	                <div class="carousel-item">
	                    <a href="#">
	                        <img src="~/images/products/1600x900.png" alt="Collection #4" class="d-block img-fluid">
	                        <div class="carousel-caption">
	                            <h3>Collection #4</h3>
	                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
	                        </div>
	                    </a>
	                </div>
	            </div>
	            <button type="button" class="carousel-control-prev" data-bs-target="#carousel" data-bs-slide="prev">
	                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	                <span class="visually-hidden">Previous</span>
	            </button>
	            <button type="button" class="carousel-control-next" data-bs-target="#carousel" data-bs-slide="next">
	                <span class="carousel-control-next-icon" aria-hidden="true"></span>
	                <span class="visually-hidden">Next</span>
	            </button>
	        </div>
	    </section>
	
	    <section class="mb-5">
	        <h2 class="text-center mb-4">Các sản phẩm phổ biến</h2>
	        <div class="row g-3 justify-content-center">
				<div class="col-md-4 col-xxl-4">
	                <div class="card h-100">
	                    <div class="position-relative">
	                        <img src="~/images/products/10.webp" alt="Product image" class="card-img-top">
	                        <div class="badge bg-info position-absolute top-0 end-0 mt-2 me-2">Tag</div>
	                    </div>
	                    <div class="card-body position-relative">
	                        <h3 class="h4"><a href="product.html" class="stretched-link">Xe đạp leo núi</a></h3>
	                        <div class="text-uppercase fw-bold text-muted mb-1">Nhãn hiệu SOLID</div>
	                        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis convallis velit quis sapien sollicitudin ultrices.</p>
	                        <div class="small position-absolute bottom-0 end-0 mb-2 me-3 text-success">
	                            <i class="bi-check-circle"></i>
	                            In stock
	                        </div>
	                    </div>
	                    <div class="card-footer">
	                        <div class="d-flex justify-content-between align-items-center">
	                            <div class="fs-3 fw-bold lh-1">$199 <span class="fs-6 text-decoration-line-through text-muted">($299)</span></div>
	                            <div class="d-flex">
	                                <button type="button" class="btn btn-primary me-2 js-addToCart">
	                                    <i class="bi-cart-plus"></i><span class="visually-hidden">Add to cart</span>
	                                </button>
	                                <div class="dropdown">
	                                    <button type="button" class="btn btn-secondary" id="addToWishlistDropdown1" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi-heart"></i><span class="visually-hidden">Add to wishlist</span></button>
	                                    <div class="dropdown-menu" aria-labelledby="addToWishlistDropdown1">
	                                        <h6 class="dropdown-header">Select wishlist</h6>
	                                        <button type="button" class="dropdown-item js-addToWishlist">Wishlist #1</button>
	                                        <button type="button" class="dropdown-item js-addToWishlist">Wishlist #2</button>
	                                        <button type="button" class="dropdown-item js-addToWishlist">Wishlist #3</button>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-4 col-xxl-4">
	                <div class="card h-100">
	                    <div class="position-relative">
	                        <img src="~/images/products/10.webp" alt="Product image" class="card-img-top">
	                        <div class="badge bg-info position-absolute top-0 end-0 mt-2 me-2">Tag</div>
	                    </div>
	                    <div class="card-body position-relative">
	                        <h3 class="h4"><a href="product.html" class="stretched-link">Xe đạp gia đình</a></h3>
	                        <div class="text-uppercase fw-bold text-muted mb-1">Nhãn hiệu SOLID</div>
	                        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis convallis velit quis sapien sollicitudin ultrices.</p>
	                        <div class="small position-absolute bottom-0 end-0 mb-2 me-3 text-warning">
	                            <i class="bi-check-circle"></i>
	                            Only few in stock
	                        </div>
	                    </div>
	                    <div class="card-footer">
	                        <div class="d-flex justify-content-between align-items-center">
	                            <div class="fs-3 fw-bold lh-1">$199 <span class="fs-6 text-decoration-line-through text-muted">($299)</span></div>
	                            <div class="d-flex">
	                                <button type="button" class="btn btn-primary me-2 js-addToCart">
	                                    <i class="bi-cart-plus"></i><span class="visually-hidden">Add to cart</span>
	                                </button>
	                                <div class="dropdown">
	                                    <button type="button" class="btn btn-secondary" id="addToWishlistDropdown2" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi-heart"></i><span class="visually-hidden">Add to wishlist</span></button>
	                                    <div class="dropdown-menu" aria-labelledby="addToWishlistDropdown2">
	                                        <h6 class="dropdown-header">Select wishlist</h6>
	                                        <button type="button" class="dropdown-item js-addToWishlist">Wishlist #1</button>
	                                        <button type="button" class="dropdown-item js-addToWishlist">Wishlist #2</button>
	                                        <button type="button" class="dropdown-item js-addToWishlist">Wishlist #3</button>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-4 col-xxl-4">
	                <div class="card h-100">
	                    <div class="position-relative">
	                        <img src="~/images/products/10.webp" alt="Product image" class="card-img-top">
	                        <div class="badge bg-info position-absolute top-0 end-0 mt-2 me-2">Tag</div>
	                    </div>
	                    <div class="card-body position-relative">
	                        <h3 class="h4"><a href="product.html" class="stretched-link">Xe đạp cho trẻ em</a></h3>
	                        <div class="text-uppercase fw-bold text-muted mb-1">Nhãn hiệu SOLID</div>
	                        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis convallis velit quis sapien sollicitudin ultrices.</p>
	                        <div class="small position-absolute bottom-0 end-0 mb-2 me-3 text-danger">
	                            <i class="bi-check-circle"></i>
	                            Out of stock
	                        </div>
	                    </div>
	                    <div class="card-footer">
	                        <div class="d-flex justify-content-between align-items-center">
	                            <div class="fs-3 fw-bold lh-1">$199 <span class="fs-6 text-decoration-line-through text-muted">($299)</span></div>
	                            <div class="d-flex">
	                                <button type="button" class="btn btn-primary me-2 js-addToCart" disabled>
	                                    <i class="bi-cart-plus"></i><span class="visually-hidden">Add to cart</span>
	                                </button>
	                                <div class="dropdown">
	                                    <button type="button" class="btn btn-secondary" id="addToWishlistDropdown3" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi-heart"></i><span class="visually-hidden">Add to wishlist</span></button>
	                                    <div class="dropdown-menu" aria-labelledby="addToWishlistDropdown3">
	                                        <h6 class="dropdown-header">Select wishlist</h6>
	                                        <button type="button" class="dropdown-item js-addToWishlist">Wishlist #1</button>
	                                        <button type="button" class="dropdown-item js-addToWishlist">Wishlist #2</button>
	                                        <button type="button" class="dropdown-item js-addToWishlist">Wishlist #3</button>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </section>
	    <section>
	        <nav aria-label="Page navigation example">
	            <ul class="pagination justify-content-end">
	              
	                <li class="page-item">
	                    <a class="page-link" href="#" aria-label="Previous">
	                        <span aria-hidden="true">&laquo;</span>
	                    </a>
	                </li>
	                <li class="page-item"><a class="page-link" href="#">1</a></li>
	                <li class="page-item"><a class="page-link" href="#">2</a></li>
	                <li class="page-item"><a class="page-link" href="#">3</a></li>
	                <li class="page-item">
	                    <a class="page-link" href="#" aria-label="Next">
	                        <span aria-hidden="true">&raquo;</span>
	                    </a>
	                </li>
	            </ul>
	        </nav>
	
	    </section>
	
	</div>
	
